/*  GLOBAL STUFF  */

body,td,th {


             color: #493b3b;
	                  font-family: 'Arial', 'ArialMT', 'sans-serif';
	                  
             font-size: 15px;
             font-style: normal;
             font-variant: normal;
             font-weight: normal;
             letter-spacing: 0;
             line-height: 23px;
             margin-bottom: 0px;
             margin-left: 20px ;
             margin-right: 0px ;
             margin-top: 0px;
             opacity: 1.00;
             padding-bottom: 0px;
             padding-top: 0px;
	     text-align: left;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;

	     
}
body {
/	margin: 30px;
	text-align: center;
	width: 900px;
	border-style: double ;
	border-color: #f2f2f2 ;
	border-width: 5px;

}

a {
/	border-bottom: #CCCCCC solid 1px;
	color: #527EBB;
	text-decoration: none;
	outline: none;
}
a:hover {
	border-bottom-color: #142864;
	color: #000000;
}
p, h1, h2, h3, h4, h5, h6, pre {
	margin-top: 0;
}
h1, h2, h3, h4, h5  {
	padding: 1px 5px;
	//background-color: #F9F9F9;
	background-color: #f4f4f4;
	line-height: normal;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 13px;
}
h6 {
	font-size: 10px;
}
hr {
	height: 1px;
	color: #999999;
}
img {
	border: 0;
}
ul {
    #	list-style-type: dot;
	display: block;
	padding-left: 20px;
	margin-top:5px;
        text-align: left;
}

ol {margin: 2em; padding: 0}

acronym, abbr {
	border-bottom: #BBBBBB 1px dashed;
	cursor: help;
}
acronym:hover, abbr:hover {
	color: #000000;
}

/*  CLASSES  */

input.styled {
	border: #E5E5E5 solid 1px;
	background-color: #F3F3F3;
	color: #666666;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.clear {
	clear: both;
}
.underline {
	border-bottom: solid 1px;
}
.qoute {
	margin: 20px 50px;
	padding: 15px 25px;
	background: url(img/quote.png);
	border: #EEE solid 1px;
	font-size: 10px;
	line-height: 20px;
	display: block;
}
.box {
	padding: 7px 10px;
	//background-color: #F9F9F9;
	background-color: #f4f4f4;
	display: block;
}
.boxed_members {
	margin-top: 5px;
	margin-bottom: 30px;
	padding: 20px 10px;
	background-color: #ffffff;
	display: block;
}
.boxed_contact {
	margin-top: 5px;
	margin-bottom: 200px;
	margin-left: 20px;
	padding: 20px 10px;
	background-color: #ffffff;
	display: block;
}
.zebra {
	background: url(img/zebra.png);
}
.story {
	padding-bottom: 12px;
	background: url(img/fade.png) bottom repeat-x;
	display: block;
}
.story .title {
	padding: 0 15px;
	color: #333333;
	font-size: 16px;
	display: block;
}
.story .title a {
	border: none;
	color: #333333;
}
.story .title a:hover {
	color: #000000;
}
.story .date {
	margin: 0 5px;
	padding: 0 10px 5px 10px;
	border-bottom: #E5E5E5 solid 1px;
	color: #999999;
	font-size: 10px;
	display: block;
}
.story .text {
	padding: 5px 15px 10px 15px;
	display: block;
}
.story .bottom {
	font-size: 10px;
	text-align: right;
	display: block;
}
.story .bottom .element {
	padding: 0 15px 0 5px;
}
.story .bottom a {
	border: none;
	color: #333333;
}
.story .bottom a:hover {
	color: #FF9900;
}
.story .bottom a img {
	padding-right: 3px;
	vertical-align: middle;
}
.sidenotes {
	margin-top: -10px;
}
.sidenotes ul {			/**/
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
}
.sidenotes ul a {		/**/
	border: none;
	color: #666666;
	display: block;
}
.sidenotes ul a:hover {
	color: #000000;
}
.sidenotes ul li {
	padding: 8px 5px 10px 5px;
	border-bottom: #DDDDDD solid 1px;
}
.sidenotes ul li .title {
	color: #333333;
	font-weight: bold;
	display: block;
}
.sidenotes ul li .date {
	color: #999999;
	font-size: 10px;
	display: block;
}
.sidenotes ul li .more {
	margin: -5px 0;
	font-size: 10px;
	text-align: right;
	display: block;
}
.sidenotes ul li .more a {
	color: #333333;
	display: inline;
}
.sidenotes ul li .more a:hover {
	color: #FF9900;
}
.sidenotes ul li .more a img {
	padding-left: 3px;
	vertical-align: baseline;
}
.login_text {
	color: #999999;
	font-size: 10px;
}
.login_text a {
	border: none;
	color: #999999;
}
.login_text a:hover {
	color: #FF9900;
}

/*  STRUCTURE (in order of appearance)  */

#bg {
	margin: 0 auto;
	width: 814px;
	background: url(img/bg.png);
}
#bg_top {
	background: url(img/bg_top.png) top no-repeat;
}
#body {
	padding: 10px;
	text-align: justify;
}
#header {
    margin-bottom: 0px;
	padding-top: 10px ;
        padding-bottom: 0px;
        padding-right:0px ;
        padding-left:0px;
	height: 160px;
	width: 910px;		/**/
	background: url(images/header_banner.png)  no-repeat; 
	font-weight: normal;
	font-size: 32px;
	text-align: right;
	text-indent: 30px;	
	color:#1e4377;
	line-height: 120%;
	text-shadow: 1px 1px #AAAAAA;
}
#header_extended {
	margin-bottom: 0px;
	padding-top: 10px ;
        padding-bottom: 0px;
        padding-right: 5px ;
        padding-left:5px;
	height: 154px;
	line-height: normal;
	width: 890px;		/**/
	background: url(images/header_banner_2.png) top ;
	font-weight: normal;
	font-size: 25px;
	text-align: right;
	color:#1e4377;
}
#header .slogan {
	padding-left: 3px;
	font-size: 16px;
}
#side {
	width: 152px;
        /* background-color:#DAC577;*/
	background: url(images/side.png)  ;
	line-height: 0px;
	float: left;
}
#side .side_title {
	margin: 0px 0 0px 0;
	padding: 0 0px 0px 0px;
	border-bottom: #DDDDDD solid 1px;
	color: #945419;
	font-size: 18px;
	display: block;
}
#menu {
	padding: 0px;
	line-height: normal;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu li {
    border-bottom: #e0e0e0 solid 1px;
}
#menu a {
	width: 140px;
	padding: 5px;
	border: none;
	color: #0a264d; 
	text-decoration: none;
	display: block;
}
#menu a:hover {
	background-color: #765F0A;
	color: #DAC577;
}
#menu a.pressed:hover {
	background-color: #765F0A;
}
#menu .pressed {
	width: 150px;
	padding: 0px;
	background-color: #765F0A;
	color: #000000;
	display: block;
}
#side_content {
	padding: 0 0px 0px 0px;
	border-top: #FFFFFF solid 10px;
	color:#945419 ;

}
#content {
/	margin: 0 0 0 15px;
/	width: 575px;
/	line-height: 18px;
/padding-left: 5px;
text-align: justify;
vertical-align: top;
}

#footer_clear {
	clear: both;
}
#footer {
	margin-top: 10px;
	padding: 8px;
	height: 14px;
	background-color: #DA9D77;
	font-size: 12px;
	text-align: center;
}
#footer a {
	color: #666666;
}
#footer a:hover {
	border-bottom-color: #000000;
}

//my include...
.centeredImage
 {
  text-align:center;
  display:block;
  }




.Heading_2 {
    color: #493b3b; 
    font-family: 'Arial-BoldMT', 'Arial', 'sans-serif';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal ;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 30px;
    padding-left: 3px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}


.Body_Small {
    color: #493b3b;
    font-family: 'ArialMT', 'Arial', 'sans-serif';
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}


.title  {
	margin: 0px 0 10px 0;
/	border-bottom: #76330A solid 1px;
	border-top:  #76330A solid 1px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;

/	color: #B55920;
	color: #76330A;
	font-size: 22px;
/	font-weight: bold ;
	display: block;
	background-color: #FFFFFF;
	                  font-family: 'Arial', 'ArialMT', 'sans-serif';
}

.subtitle  {
	margin: 0px 0 5px 0;
/	border-bottom: #76330A solid 1px;
/	border-top: #76330A solid 1px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;

/	color: #B55920;
	color: #76330A;
	font-size: 18px;
/	font-weight: bold ;
	display: block;
	background-color: #FFFFFF;
/	background: url(images/cabezote10.jpg)  ;
	                  font-family: 'Arial', 'ArialMT', 'sans-serif';
}

.subsubtitle {
	padding-bottom: 3px;
	padding-top: 5px;
	padding-left: 0px;
	color: #B55920; 
	font-size: 16px;
	font-weight: bold ;
	display: block;

}
